/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.App-container {
  display: flex;
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 20px 0;
}

.Simple-Todo-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  background-size: cover;
  min-height: 80vh;
  width: 90%;
  border-radius: 15px;
  border: none;
  padding: 15px;
  margin: 35px;
}

.Todo-heading {
  font-family: 'Lobster';
  font-size: 35px;
  font-weight: bold;
  color: #000000;
  font-style: italic;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
